.calculator {
   
    border: 1px solid;
    padding: 1%;
    width: 14rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 1rem;
    background-color: rgb(212, 211, 211);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.inputclass {
    border: 1px solid;
    /* border-radius: 5%; */
    width: 13.5rem;
    height: 35px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
} */
.cleraStyle {
    background-color: rgb(235, 8, 8);
}

.buttons button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}